<!DOCTYPE html>
<html lang="en">
<head>  
{{{head}}}
<title>Fineguide.ai | Privacy Policy</title>
{{{meta}}}
{{{seoMeta}}}
{{{headAssets}}}
</head>
<body>
  {{{mobileNav}}}
  <!-- Header 9 -->
  <header class="pt-210 bg-light header_9 pb-80">
    {{{screenNav}}}
  </header>

<div class="container f-16 mb-200">
  <h1 class="f-28 mb-20">Политика конфиденциальности</h1>
  <p>Последнее обновление: 09 февраля, 2024</p>
  <p>Эта Политика конфиденциальности описывает наши политики и процедуры по сбору, использованию и раскрытию вашей информации при использовании вами Сервиса, а также информирует вас о ваших правах на конфиденциальность и о том, как закон защищает вас.</p>
  <p>Мы используем ваши персональные данные для предоставления и улучшения Сервиса. Используя Сервис, вы соглашаетесь на сбор и использование информации в соответствии с настоящей Политикой конфиденциальности.</p>
  <h2 class="f-26 mb-10">Толкование и определения</h2>
  <h3 class="f-24 mb-10">Толкование</h3>
  <p>Слова, которые пишутся с заглавной буквы, имеют значения, определенные при следующих условиях. Следующие определения имеют одно и то же значение независимо от того, употребляются ли они в единственном или множественном числе.</p>
  <h3 class="f-24 mb-10">Определения</h3>
  <p>Для целей этой Политики конфиденциальности:</p>
  <ul>
  <li> 
  <p><strong>Аккаунт</strong> означает уникальный аккаунт, созданный для вас для доступа к нашему Сервису или его частям.</p>
  </li>
  <li>
  <p><strong>Аффилированное лицо</strong> означает юридическое лицо, которое контролирует, контролируется или находится под общим контролем с стороной, где "контроль" означает владение 50% или более акций, долевой собственности или других ценных бумаг, имеющих право голосовать при выборе директоров или другой управляющей власти.</p>
  </li>
  <li>
  <p><strong>Компания</strong> (именуемая как "Компания", "Мы", "Нас" или "Наш" в настоящем Соглашении) относится к "Opentech Consulting", ул. 31 августа 1989, 91, Кишинев, Молдова.</p>
  </li>
  <li>
  <p><strong>Cookies</strong> — это небольшие файлы, которые размещаются на вашем компьютере, мобильном устройстве или любом другом устройстве веб-сайтом, содержащие детали вашей истории браузера на этом сайте среди множества других его использований.</p>
  </li>
  <li>
  <p><strong>Страна</strong> относится к: Молдова</p>
  </li>
  <li>
  <p><strong>Устройство</strong> означает любое устройство, которое может получить доступ к Сервису, например, компьютер, телефон или цифровой планшет.</p>
  </li>
  <li>
  <p><strong>Персональные данные</strong> — это любая информация, которая относится к идентифицированному или идентифицируемому физическому лицу.</p>
  </li>
  <li>
  <p><strong>Сервис</strong> относится к Веб-сайту.</p>
  </li>
  <li>
  <p><strong>Поставщик услуг</strong> означает любое физическое или юридическое лицо, которое обрабатывает данные от имени Компании. Это относится к сторонним компаниям или частным лицам, нанятым Компанией для облегчения работы Сервиса, предоставления Сервиса от имени Компании, выполнения услуг, связанных с Сервисом, или же для оказания помощи Компании в анализе того, как используется Сервис.</p>
  </li>
  <li>
  <p><strong>Данные об использовании</strong> относятся к данным, собираемым автоматически, либо генерируемые использованием Сервиса, либо самой инфраструктурой Сервиса (например, продолжительность посещения страницы).</p>
  </li>
  <li>
  <p><strong>Веб-сайт</strong> относится к fineguide.ai, доступному с <a href="http://fineguide.ai" rel="external nofollow noopener" target="_blank">http://fineguide.ai</a></p>
  </li>
  <li>
  <p><strong>Вы</strong> означает физическое лицо, которое получает доступ к Сервису или использует Сервис, или компания, или другое юридическое лицо, от имени которого это физическое лицо получает доступ к Сервису или использует Сервис, в зависимости от случая.</p>
  </li>
  </ul>
  <h2 class="f-26 mb-10">Сбор и использование ваших персональных данных</h2>
  <h3 class="f-24 mb-10">Типы собираемых данных</h3>
  <h4 class="f-20 mb-10">Персональные данные</h4>
  <p>В процессе использования нашего Сервиса мы можем попросить вас предоставить нам определенную личную информацию, которая может быть использована для связи с вами или для вашей идентификации. Личная информация может включать, но не ограничивается:</p>
  <ul>
  <li>
  <p>Адрес электронной почты</p>
  </li>
  <li>
  <p>Имя и фамилия</p>
  </li>
  <li>
  <p>Адрес, штат, провинция, почтовый индекс, город</p>
  </li>
  <li>
  <p>Данные об использовании</p>
  </li>
  </ul>
  <h4 class="f-20 mb-10">Данные об использовании</h4>
  <p>Данные об использовании собираются автоматически при использовании Сервиса.</p>
  <p>Данные об использовании могут включать такую информацию, как IP-адрес вашего Устройства (например, IP-адрес), тип браузера, версия браузера, страницы нашего Сервиса, которые вы посещаете, время и дата вашего визита, время, проведенное на этих страницах, уникальные идентификаторы устройства и другие диагностические данные.</p>
  <p>Когда вы получаете доступ к Сервису через мобильное устройство, мы можем автоматически собирать определенную информацию, включая, но не ограничиваясь, типом мобильного устройства, которым вы пользуетесь, уникальным идентификатором вашего мобильного устройства, IP-адресом вашего мобильного устройства, операционной системой вашего мобильного устройства, типом мобильного интернет-браузера, уникальными идентификаторами устройства и другими диагностическими данными.</p>
  <p>Мы также можем собирать информацию, которую ваш браузер отправляет при каждом посещении вами нашего Сервиса или когда вы получаете доступ к Сервису через мобильное устройство.</p>
  <h4 class="f-20 mb-10">Технологии отслеживания и Cookies</h4>
  <p>Мы используем Cookies и аналогичные технологии отслеживания для отслеживания активности на нашем Сервисе и сохранения определенной информации. Технологии отслеживания, которые мы используем, могут включать маяки, теги и скрипты для сбора и отслеживания информации и для улучшения и анализа нашего Сервиса. Технологии, которые мы используем, могут включать:</p>
  <ul>
  <li><strong>Cookies или браузерные Cookies.</strong> Cookie — это небольшой файл, размещаемый на вашем Устройстве. Вы можете настроить свой браузер так, чтобы он отказывался от всех Cookies или указывал, когда Cookie отправляется. Однако, если вы не принимаете Cookies, вы не сможете использовать некоторые части нашего Сервиса. Если вы не изменили настройки браузера так, чтобы он отказывался от Cookies, наш Сервис может использовать Cookies.</li>
  <li><strong>Маяки (Web Beacons).</strong> Некоторые разделы нашего Сервиса и наши электронные письма могут содержать небольшие электронные файлы, известные как веб-маяки (также называемые clear gifs, пиксельные теги и одно-пиксельные gifs), которые позволяют Компании, например, подсчитывать пользователей, посетивших эти страницы, или открывших электронное письмо, и для других связанных со статистикой веб-сайта целей (например, записи популярности определенного раздела и проверки целостности системы и сервера).</li>
  </ul>
  <p>Cookies могут быть "постоянными" или "сеансовыми" Cookies. Постоянные Cookies остаются на вашем персональном компьютере или мобильном устройстве, когда вы переходите в режим офлайн, в то время как сеансовые Cookies удаляются, как только вы закрываете веб-браузер. Подробнее о cookies можно узнать в <a href="https://www.termsfeed.com/blog/cookies/#What_Are_Cookies" target="_blank">статье на сайте TermsFeed</a>.</p>
  <p>Мы используем как сеансовые, так и постоянные Cookies для целей, указанных ниже:</p>
  <ul>
  <li>
  <p><strong>Необходимые / обязательные Cookies</strong></p>
  <p>Тип: Сеансовые Cookies</p>
  <p>Управляются: Нами</p>
  <p>Цель: Эти Cookies необходимы для предоставления вам услуг, доступных через Веб-сайт и для использования некоторых его функций. Они помогают аутентифицировать пользователей и предотвращают мошенническое использование учетных записей пользователей. Без этих Cookies запрашиваемые вами услуги не могут быть предоставлены, и мы используем эти Cookies только для предоставления вам этих услуг.</p>
  </li>
  <li>
  <p><strong>Cookies политики / Уведомления об акцепте Cookies</strong></p>
  <p>Тип: Постоянные Cookies</p>
  <p>Управляются: Нами</p>
  <p>Цель: Эти Cookies идентифицируют, приняли ли пользователи использование cookies на Веб-сайте.</p>
  </li>
  <li>
  <p><strong>Функциональные Cookies</strong></p>
  <p>Тип: Постоянные Cookies</p>
  <p>Управляются: Нами</p>
  <p>Цель: Эти Cookies позволяют нам запоминать выборы, которые вы делаете при использовании Веб-сайта, например, запоминание ваших учетных данных или предпочтения по языку. Цель этих Cookies заключается в предоставлении вам более персонализированного опыта и в избежании необходимости повторного ввода ваших предпочтений каждый раз при использовании Веб-сайта.</p>
  </li>
  </ul>
  <p>Для получения дополнительной информации о используемых нами cookies и ваших выборах в отношении cookies, пожалуйста, посетите нашу Политику использования cookies или раздел cookies настоящей Политики конфиденциальности.</p>
  <h3 class="f-24 mb-10">Использование ваших персональных данных</h3>
  <p>Компания может использовать Персональные данные для следующих целей:</p>
  <ul>
  <li>
  <p><strong>Для предоставления и поддержания нашего Сервиса</strong>, включая мониторинг использования нашего Сервиса.</p>
  </li>
  <li>
  <p><strong>Для управления вашим Аккаунтом:</strong> для управления вашей регистрацией в качестве пользователя Сервиса. Персональные данные, которые вы предоставляете, могут дать вам доступ к различным функциям Сервиса, которые доступны вам как зарегистрированному пользователю.</p>
  </li>
  <li>
  <p><strong>Для выполнения контракта:</strong> разработка, выполнение условий и проведение покупки продуктов, товаров или услуг, которые вы приобрели, или любого другого контракта с нами через Сервис.</p>
  </li>
  <li>
  <p><strong>Для связи с вами:</strong> для связи с вами по электронной почте, телефонным звонкам, SMS или другим эквивалентным формам электронной коммуникации, таким как push-уведомления мобильных приложений, касающихся обновлений или информативных сообщений, связанных с функциональностями, продуктами или услугами, которые вы заказали, включая обновления безопасности, когда это необходимо или разумно для их реализации.</p>
  </li>
  <li>
  <p><strong>Для предоставления вам</strong> новостей, специальных предложений и общей информации о других товарах, услугах и мероприятиях, которые мы предлагаем, которые аналогичны тем, что вы уже приобрели или о которых вы интересовались, если вы не отказались от получения такой информации.</p>
  </li>
  <li>
  <p><strong>Для управления вашими запросами:</strong> для рассмотрения и управления вашими запросами к нам.</p>
  </li>
  <li>
  <p><strong>Для бизнес-передач:</strong> мы можем использовать вашу информацию для оценки или проведения слияния, реорганизации, реструктуризации, реорганизации, ликвидации или других продаж или передач некоторых или всех наших активов, как часть продолжающегося бизнеса или как часть банкротства, ликвидации или аналогичного процесса, в котором Персональные данные, находящиеся у нас, о наших пользователях Сервиса являются частью переданных активов.</p>
  </li>
  <li>
  <p><strong>Для других целей:</strong> мы можем использовать вашу информацию для других целей, таких как анализ данных, выявление трендов использования, определение эффективности наших рекламных кампаний и для оценки и улучшения нашего Сервиса, продуктов, услуг, маркетинга и вашего опыта.</p>
  </li>
  </ul>
  <p>Мы можем передавать вашу персональную информацию в следующих ситуациях:</p>
  <ul>
  <li><strong>С поставщиками услуг:</strong> мы можем передавать вашу персональную информацию поставщикам услуг, чтобы мониторить и анализировать использование нашего Сервиса, а также для связи с вами.</li>
  <li><strong>Для бизнес-передач:</strong> мы можем передавать или делиться вашей персональной информацией в связи с, или во время переговоров по любой слиянии, продаже активов Компании, финансировании или приобретении всего или части нашего бизнеса другой компанией.</li>
  <li><strong>С аффилированными лицами:</strong> мы можем передавать вашу информацию нашим аффилированным лицам, в этом случае мы потребуем от этих аффилированных лиц соблюдать настоящую Политику конфиденциальности. Аффилированные лица включают нашу материнскую компанию и любые другие дочерние компании, партнеров по совместным предприятиям или другие компании, которые мы контролируем или которые находятся под общим контролем с нами.</li>
  <li><strong>С деловыми партнерами:</strong> мы можем передавать вашу информацию нашим деловым партнерам, чтобы предлагать вам определенные продукты, услуги или рекламные акции.</li>
  <li><strong>С другими пользователями:</strong> когда вы делитесь личной информацией или иначе взаимодействуете в публичных областях с другими пользователями, такая информация может быть просмотрена всеми пользователями и может быть публично распространена за пределы.</li>
  <li><strong>С вашего согласия:</strong> мы можем раскрывать вашу персональную информацию для любых других целей с вашего согласия.</li>
  </ul>
  <h3 class="f-24 mb-10">Хранение ваших персональных данных</h3>
  <p>Компания будет хранить ваши Персональные данные только до тех пор, пока это необходимо для целей, изложенных в этой Политике конфиденциальности. Мы будем сохранять и использовать ваши Персональные данные в объеме, необходимом для соблюдения наших юридических обязательств (например, если мы обязаны хранить ваши данные для соответствия применимым законам), разрешения споров и исполнения наших юридических соглашений и политик.</p>
  <p>Компания также будет сохранять Данные об использовании для внутренних целей анализа. Данные об использовании обычно сохраняются в течение более короткого периода времени, за исключением случаев, когда данные используются для усиления безопасности или улучшения функциональности нашего Сервиса, или если мы юридически обязаны хранить эти данные в течение более длительных периодов времени.</p>
  <h3 class="f-24 mb-10">Передача ваших персональных данных</h3>
  <p>Ваша информация, включая Персональные данные, обрабатывается в операционных офисах Компании и в любых других местах, где находятся участвующие в обработке стороны. Это означает, что эта информация может быть передана и сохранена на компьютерах, расположенных за пределами вашего штата, провинции, страны или другой государственной юрисдикции, где законы о защите данных могут отличаться от законов вашей юрисдикции.</p>
  <p>Your согласие с настоящей Политикой конфиденциальности, за которым следует предоставление такой информации, означает ваше согласие на такую передачу.</p>
  <p>Компания предпримет все разумные шаги для обеспечения того, чтобы ваши данные обрабатывались безопасно и в соответствии с настоящей Политикой конфиденциальности, и никакая передача ваших Персональных данных не будет происходить в организацию или страну, если только не установлены надлежащие меры контроля, включая безопасность ваших данных и другой личной информации.</p>
  <h3 class="f-24 mb-10">Удаление ваших персональных данных</h3>
  <p>Вы имеете право удалять или запрашивать, чтобы мы помогли в удалении Персональных данных, которые мы собрали о вас.</p>
  <p>Наш Сервис может предоставлять вам возможность удалять определенную информацию о вас из Сервиса.</p>
  <p>Вы можете обновлять, изменять или удалять свою информацию в любое время, войдя в свой Аккаунт, если он у вас есть, и посетив раздел настроек аккаунта, который позволяет управлять вашей личной информацией. Вы также можете связаться с нами, чтобы запросить доступ к, исправить или удалить любую личную информацию, которую вы предоставили нам.</p>
  <p>Однако, пожалуйста, обратите внимание, что мы можем сохранять определенную информацию, если у нас есть юридическое обязательство или законное основание для этого.</p>
  <h3 class="f-24 mb-10">Раскрытие ваших персональных данных</h3>
  <h4 class="f-20 mb-10">Бизнес-транзакции</h4>
  <p>Если Компания участвует в слиянии, поглощении или продаже активов, ваши Персональные данные могут быть переданы. Мы предоставим уведомление до того, как ваши Персональные данные будут переданы и станут подчиняться другой Политике конфиденциальности.</p>
  <h4 class="f-20 mb-10">Правоохранительные органы</h4>
  <p>При определенных обстоятельствах Компания может быть обязана раскрыть ваши Персональные данные, если это требует закон или в ответ на действительные запросы государственных органов (например, суд или правительственное агентство).</p>
  <h4 class="f-20 mb-10">Другие юридические требования</h4>
  <p>Компания может раскрыть ваши Персональные данные в добросовестном убеждении, что такое действие необходимо для:</p>
  <ul>
  <li>Соблюдения юридического обязательства</li>
  <li>Защиты и отстаивания прав или собственности Компании</li>
  <li>Предотвращения или расследования возможных неправильных действий в связи с Сервисом</li>
  <li>Защиты личной безопасности Пользователей Сервиса или общественности</li>
    <li>Защиты от юридической ответственности</li>
    </ul> 
    <h3 class="f-24 mb-10">Безопасность ваших персональных данных</h3>
    <p>Безопасность ваших персональных данных важна для нас, но помните, что ни один метод передачи данных через Интернет или метод электронного хранения данных не является на 100% безопасным. Хотя мы стремимся использовать коммерчески оправданные средства для защиты ваших Персональных данных, мы не можем гарантировать их абсолютную безопасность.</p>
    <h2 class="f-26 mb-10">Конфиденциальность детей</h2>
    <p>Наш Сервис не предназначен для лиц младше 13 лет. Мы сознательно не собираем персональную информацию от лиц младше 13 лет. Если вы являетесь родителем или опекуном и вам стало известно, что ваш ребенок предоставил нам персональные данные, пожалуйста, свяжитесь с нами. Если мы обнаружим, что собрали персональные данные от лиц младше 13 лет без подтверждения родительского согласия, мы предпримем шаги для удаления этой информации с наших серверов.</p>
    <p>Если нам необходимо полагаться на согласие в качестве законного основания для обработки вашей информации, и ваша страна требует согласия родителя, мы можем потребовать согласие вашего родителя перед сбором и использованием этой информации.</p>
    <h2 class="f-26 mb-10">Ссылки на другие сайты</h2>
    <p>Наш Сервис может содержать ссылки на другие сайты, которые не управляются нами. Если вы нажмете на стороннюю ссылку, вы будете перенаправлены на сайт этой третьей стороны. Мы настоятельно рекомендуем вам ознакомиться с Политикой конфиденциальности каждого сайта, который вы посещаете.</p>
    <p>Мы не контролируем и не несем ответственности за содержание, политики конфиденциальности или практики третьих сторон или их служб.</p>
    <h2 class="f-26 mb-10">Изменения в этой Политике конфиденциальности</h2>
    <p>Мы можем время от времени обновлять нашу Политику конфиденциальности. Мы уведомим вас о любых изменениях, разместив новую Политику конфиденциальности на этой странице.</p>
    <p>Мы сообщим вам об этом по электронной почте и/или с помощью заметного уведомления на нашем Сервисе до того, как изменения вступят в силу, и обновим дату "Последнего обновления" в верхней части этой Политики конфиденциальности.</p>
    <p>Вам рекомендуется периодически пересматривать эту Политику конфиденциальности на предмет изменений. Изменения в этой Политике конфиденциальности вступают в силу, когда они публикуются на этой странице.</p>
    <h2 class="f-26 mb-10">Свяжитесь с нами</h2>
    <p>Если у вас есть вопросы относительно этой Политики конфиденциальности, вы можете связаться с нами:</p>
    <ul>
    <li>По электронной почте: office@fineguide.ai</li>
    </ul> 
    </div>

    {{{footer}}}
</body>

</html>