<!DOCTYPE html>
<html lang="en">
<head>  
{{{head}}}
<title>Fineguide.ai | Oops! Page Not Found</title>
{{{headAssets}}}
</head>
<body>
  {{{mobileNav}}}
  <!-- Header 9 -->
  <header class="pt-210 bg-light header_9 pb-80">
    {{{screenNav}}}
  </header>

    <div class="container f-16 mb-200 text-center">
      <div class="mb-40"><strong class="f-60">404</strong></div>
      <h4>Oops... page not found</h4>
    </div>
    {{{footer}}}
</body>

</html>