<!DOCTYPE html>
<html lang="en">
<head>  
{{{head}}}
<title>Fineguide.ai | Contact</title>
{{{meta}}}
{{{seoMeta}}}
{{{headAssets}}}
</head>
<body>
  {{{mobileNav}}}
  <!-- Header 9 -->
  <header class="pt-160 bg-light header_9 pb-80">
    {{{screenNav}}}
  </header>

    {{{contact}}}

    {{{footer}}}
</body>

</html>